<div class="product-container">
    <h1>Products</h1>
  
    
    <input
    type="text"
    [(ngModel)]="searchTerm"
    placeholder="Search products..."
    (keyup.enter)="onSearch()"
    />
    <button (click)="onSearch()">Search</button>
    <button (click)="clearSearch()">Clear</button>
    
    <div *ngIf="products.length === 0" class="no-products">
      No products available!
    </div>
    
    <div class="product-grid">
      <div
        class="product-card"
        *ngFor="let product of products"
        (click)="viewProduct(product._id)"
      >
        <img [src]="product.image || noImg" alt="{{ product.name }}" />
        <h3>{{ product.name }}</h3>
        <p>$ {{ product.price }}</p>
        <button 
        (click)="viewProduct(product._id)">View Details</button>
        <button (click)="addToCart($event,product._id)">Add to Cart</button>
      

      </div>
    </div>
    <div class="pagination" *ngIf="totalPages > 1">
        <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">
          Previous
        </button>
        <span>Page {{ currentPage }} of {{ totalPages }}</span>
        <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">
          Next
        </button>
      </div>
  </div>
  