<div *ngIf="loading" class="loading-spinner">Loading product...</div>

<div *ngIf="product" class="product-detail-container">
  <img [src]="product.image || noImg" alt="{{ product.title }}" />
  <div class="product-info">
    <h1>{{ product.name }}</h1>
    <p class="price">$ {{ product.price }}</p>
    <p class="description">{{ product.description }}</p>
    <button (click)="addToCart(product._id)">Add to Cart</button>
  </div>
</div>

<!-- <ng-template #loading>
  <h2>Loading product...</h2>
</ng-template> -->
