<div class="auth-container">
    <h1>Login</h1>
  
    <form (submit)="login()">
      <label>Email:</label>
      <input type="email" [(ngModel)]="email" required  [ngModelOptions]="{standalone: true}" />
  
      <label>Password:</label>
      <input type="password" [(ngModel)]="password" required  [ngModelOptions]="{standalone: true}" />
  
      <p *ngIf="error" class="error">{{ error }}</p>
  
      <button type="submit">Login</button>
    </form>
  
    <p>Don't have an account? <a routerLink="/auth/register">Register here</a></p>
  </div>
  